{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "strict",
    "printWidth": 140,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
